content{
    max-width: 1600px;
    margin: o auto;
}
nav a{
    text-align: center;
}
#hero-msg h1{
    text-align: center;
}
#hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main{
    text-align: center;
}
#background{
    height: 725px;
}
body{
    background-color: #72DDF7; 
    color: #8093F1;
}
header{
    background-color: #72DDF7; 
    color: #8093F1;
}
nav a:hover{
    background-color: #72DDF7; 
    color: #8093F1;
}
.book{
        background-color: #72DDF7; 
        color: #8093F1;
    }
.join{
    background-color: #72DDF7; 
    color: #8093F1;
}
.book:hover{
    background-color: #72DDF7;
    color: #8093F1; 
}
.join:hover{
    background-color: #72DDF7; 
    color: #8093F1;
}
#background{
    background-color: #72DDF7; 
    color: #8093F1;
}
.msg{
    background-color: #72DDF7; 
    color: #8093F1;
}
footer{
    background-color: #72DDF7; 
    color: #8093F1;
}
.logo{
    width: 80px;
}
.icon{
    width: 80px;
}
#hero-img{
    width: 100%;
}