content{
    max-width: 1600px;
    margin: o auto;
}
nav a{
    text-align: center;
}
#hero-msg h1{
    text-align: center;
}
#hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main{
    text-align: center;
}
#background{
    height: 725px;
}
body{
    background-color: #613d3d; 
}
header{
    background-color: #613d3d; 
}
nav a:hover{
    background-color: #613d3d; 
}
.book{
        background-color: #613d3d; 
    }
.join{
    background-color: #613d3d; 
}
.book:hover{
    background-color: #613d3d; 
}
.join:hover{
    background-color: #613d3d; 
}
#background{
    background-color: #613d3d; 
}
.msg{
    background-color: #613d3d; 
}
footer{
    background-color: #613d3d; 
}